footer {
    background-color: #262626;
    color: white;
    display: flex;
    padding: 10px;
    justify-content: end;
    border-top: 3px solid #8685ef;
}

footer > p {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: .9em;
}

#heart {
    margin: 0px 10px;
    color: rgb(255, 0, 60);
    font-size: 1em;
    animation: heart .7s alternate infinite;
}

footer > p > a {
    color: rgb(238, 218, 181);
    margin-left: 5px;
    text-decoration: underline;
}

@keyframes heart {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}