section {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 118px);
    justify-content: space-around;
    align-items: center;
}

.errorText {
    font-size: 1.7em;
    font-weight: bolder;
    user-select: none;
    pointer-events: none;
    color: rgb(81, 81, 81);
    padding: 0px 50px;
}

.zzz {
    color: rgb(255, 179, 0);
    text-shadow: 1px 1px 1px black;
}