.productContainer {
    transition: .5s;
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    max-width: 350px;
    min-height: 385px;
    cursor: pointer;
    border: 1px solid rgb(201, 201, 201);
    margin: 30px 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 0px #00000047;
    background-color: #faf7ff;
}

.productContainer:hover {
    transform: scale(1.02);
}

.productName {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.image {
    display: block;
    margin: auto;
    max-width: 173px;
    max-height: 173px;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    user-select: none;
    pointer-events: none;
}

.description {
    text-align: justify;
    padding: 10px 5px;
}

.price {
    width: 100%;
    text-align: left;
    /* margin-bottom: 10px; */
    font-weight: bolder;
}

.priceContainer {
    width: 100%;
}

.priceAfter {
    display: block;
    width: 100%;
    text-decoration: line-through;
    font-size: .8em;
    color: rgb(49, 49, 49);
    font-weight: bold;
}

.priceNow {
    font-weight: bolder;
    color: rgb(10, 154, 10);
}

.buy {
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    background-color: #262626;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    border-radius: 6px;
}

.buy .addCart {
    margin-right: 5px;
    font-size: 1.1em;
}

.buy:hover {
    background-color: whitesmoke;
    color: black;
    border: 1px solid rgb(140, 140, 140);
}

.buy:active {
    background-color: #dbdbdb;
    text-decoration: underline;
}